node_modules/
build/
dist/
android/
ios/
*.config.js
*.config.cjs
*.config.mjs
*.config.ts
*.config.json
*.log
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.html
*.md
*.png
*.jpg
*.jpeg
*.gif
*.svg
*.lock
*.zip
*.tar.gz
scripts/